@import '../../styles/mixins';

.pokemon-list {
  display       : flex;
  flex-direction: column;
  padding: 2rem;

  &__items {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-around;
    width          : 100%;
  }

  &__actions {
    display        : flex;
    justify-content: center;
    margin-top     : 3rem;
    
    @include responsive(celular) {
      flex-direction: column;
    }
  }
}