@-webkit-keyframes pulsate {
  30% {
    -webkit-transform: translate(-25%, -25%) scale(0.1, 0.1);
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  90% {
    -webkit-transform: translate(-25%, -25%) scale(1.2, 1.2);
    opacity: 0;
  }
}

@-moz-keyframes pulsate {
  30% {
    -moz-transform: translate(-25%, -25%) scale(0.1, 0.1);
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  40% {
    -moz-transform: translate(-25%, -25%) scale(1.2, 1.2);
    opacity: 0;
  }
}

@-o-keyframes pulsate {
  30% {
    -o-transform: translate(-25%, -25%) scale(0.1, 0.1);
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  40% {
    -o-transform: translate(-25%, -25%) scale(1.2, 1.2);
    opacity: 0;
  }
}

@keyframes pulsate {
  30% {
    transform: translate(-25%, -25%) scale(0.1, 0.1);
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  40% {
    transform: translate(-25%, -25%) scale(1.2, 1.2);
    opacity: 0;
  }
}

.bounce:hover .collapser {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-0.8rem);
    transform: translateY(-0.8rem);
  }

  80% {
    -webkit-transform: translateY(-0.4rem);
    transform: translateY(-0.4rem);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

/**
 Para ocultar un elemento incrementalmente
**/
.fade-out {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  animation: fade-out 1s linear, hide 0s 1s linear;
  z-index: -1;
  width: 0%;
  height: 0%;
}

@keyframes fade-out {
  0% {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 1;
    visibility: visible;
    z-index: initial;
  }

  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    position: relative;
  }
}

@keyframes hide {
  0% {
    position: relative;
  }
  100% {
    z-index: -1;
    position: absolute;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes roll {
  0% {
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0% {
    transform: translate3d(0, 10rem,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}

@keyframes shadow {
  0% {
    opacity: 0.2;
    transform: scale(1);
    filter: blur(0.01em);
  }
  100% {
    opacity: 0.05;
    transform: scale(1.5);
    filter: blur(0.05em);
  }
}