.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;

  -webkit-animation: fadein .3s ease-in-out;  /* Safari 4+ */
  -moz-animation   : fadein .3s ease-in-out;  /* Fx 5+ */
  -o-animation     : fadein .3s ease-in-out;  /* Opera 12+ */
  animation        : fadein .3s ease-in-out;  /* IE 10+, Fx 29+ */


  &__content {
    background-color: #fff;
    min-width: 30rem ;
    transition: all 0.3 ease-in-out;
    
    &__header {
      background: #2c2c2c;
      color: #e9e9e9;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      span {
        padding: 10px;
      }
    }
    
    &__body {
      // padding: 10px;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;

      p {
        font-size: 1rem;
        background: #eee;
        color: #333;
        padding: 1rem;
        margin: 1rem 0 2rem 0;
      }
    }

    &__footer button {
      padding: 10px;
    }
  }

}